<!DOCTYPE html>
<html lang="{{ site.lang}}">

<head>

  {# {{!-- Document Settings --}} #}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {# {{!-- Base Meta --}} #}
  <title>{{ meta_title }}</title>

  <meta name="robots" content="index,follow">
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ site.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ title + " – " + site.title if title else title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.cover_image }}">

    <!--Schema-->
    <link rel="author" href="{{ site.url }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title + " – " + site.title if title else title }}">
    <meta itemprop="description" content="{{ site.description }}">
    <meta itemprop="image" content="{{ site.cover_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{site.url + page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title + " – " + site.title if title else title }}">
    <meta property="og:image" content="{{ site.cover_image }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}


  <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    {# if we define css here, we can add the critical path css that loads before other files #}
    {# {% set css %}{% include "css/styles.css" %}{% endset %} #}
    {# <style>{{ css | cssmin | safe }}</style> #}

  {{ site.codeinjection_head | safe if site.codeinjection_head }}
  {{ codeinjection_head | safe if codeinjection_head }}

</head>

<body class="{{body_class}}">

  <div class="mx-auto">

    {% include "partials/header.njk" %}

    {% block content %}
    {% endblock content %}

  </div>

  {% include "partials/footer.njk" %}

  {{ site.codeinjection_foot | safe if site.codeinjection_foot }}
  {{ codeinjection_foot | safe if codeinjection_foot }}
</body>

</html>